In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import  accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

## Importing the Required Libraries

In [ ]:
train_data=pd.read_csv("/content/traindata.csv")
train_data.head()

,Id,Amount_of_water,Gps_height,Waterpoint_type,Basin_name,Village,Regionname,Region_code,Wardname,District_code,...,Payment_type,Water_quality,Quality_group,Quantity,Quantity_group,Source,Source_type,Source_class,Waterpoint_type_group,Status
0,56421,0.0,1555,hand pump,basin3,village8556,region4,15,ward500,3,...,never pay,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,0
1,21324,500.0,857,communal standpipe multiple,basin7,village7372,region5,10,ward1800,5,...,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,0
2,74,0.0,0,communal standpipe,basin1,village9460,region6,17,ward883,3,...,never pay,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe,0
3,74038,0.0,0,other,basin5,village13878,region13,18,ward1505,7,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,other,0
4,29929,0.0,0,hand pump,basin4,village5192,region6,14,ward942,4,...,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,1

## Exploratory Data Analysis

In [ ]:
train_data.describe(include='all')

,Id,Amount_of_water,Gps_height,Waterpoint_type,Basin_name,Village,Regionname,Region_code,Wardname,District_code,...,Payment_type,Water_quality,Quality_group,Quantity,Quantity_group,Source,Source_type,Source_class,Waterpoint_type_group,Status
count,44068.000000,44068.000000,44068.000000,44068,44068,44068,44068,44068.000000,44068,44068.000000,...,44068,44068,44068,44068,44068,44068,44068,44068,44068,44068.000000
unique,NaN,NaN,NaN,7,9,16471,21,NaN,2087,NaN,...,7,8,6,5,5,10,7,3,6,NaN
top,NaN,NaN,NaN,communal standpipe,basin5,village18166,region12,NaN,ward1290,NaN,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,communal standpipe,NaN
freq,NaN,NaN,NaN,21085,7397,382,4190,NaN,240,NaN,...,18752,37551,37551,24610,24610,12617,12617,34384,25401,NaN
mean,37092.516384,329.781607,674.305460,NaN,NaN,NaN,NaN,15.224539,NaN,5.664382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.585640
std,21490.884249,3127.604462,698.062813,NaN,NaN,NaN,NaN,17.566722,NaN,9.670612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.492617
min,0.000000,0.000000,-63.000000,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,18363.250000,0.000000,0.000000,NaN,NaN,NaN,NaN,5.000000,NaN,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,37021.500000,0.000000,370.000000,NaN,NaN,NaN,NaN,12.000000,NaN,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,55685.250000,20.000000,1327.000000,NaN,NaN,NaN,NaN,17.000000,NaN,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,74242.000000,350000.000000,2628.000000,NaN,NaN,NaN,NaN,99.000000,NaN,80.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

#### Null Value Check

Less than 30% of Null Values is reasonable to impute. If the Null Values in a column is greater than 30% of Total records, it is adviced to ignore the Column. Although this is not a hard rule, but something that can be followed

In [ ]:
train_data.isnull().sum()/train_data.shape[0]*100

Id                        0.000000
Amount_of_water           0.000000
Gps_height                0.000000
Waterpoint_type           0.000000
Basin_name                0.000000
Village                   0.000000
Regionname                0.000000
Region_code               0.000000
Wardname                  0.000000
District_code             0.000000
Population                0.000000
Public_meeting            5.729781
Organization_funding      5.899973
Organization_surveyed     0.000000
Scheme_management         6.651085
SchemeName               47.542434
Permit                    5.053554
Company_installed         5.906780
Management                0.000000
Management_group          0.000000
Extraction_type           0.000000
Extraction_type_group     0.000000
Extraction_type_class     0.000000
Payment                   0.000000
Payment_type              0.000000
Water_quality             0.000000
Quality_group             0.000000
Quantity                  0.000000
Quantity_group            0.000000
Source                    0.000000
Source_type               0.000000
Source_class              0.000000
Waterpoint_type_group     0.000000
Status                    0.000000
dtype: float64

In [ ]:
# Since SchemeName has more than 30% of missing values, the column is dropped from the dataframe
# Some other columns like 'Id','Village','Organization_funding','Wardname','Company_installed','Region_code' are dropped for this example as they do not contribute to the Target column prediction based on the Attribute Description and other Statistics
train_data.drop(['Id','Village','SchemeName','Organization_funding','Wardname','Company_installed','Region_code'],axis=1, inplace=True)
train_data.columns

Index(['Amount_of_water', 'Gps_height', 'Waterpoint_type', 'Basin_name',
       'Regionname', 'District_code', 'Population', 'Public_meeting',
       'Organization_surveyed', 'Scheme_management', 'Permit', 'Management',
       'Management_group', 'Extraction_type', 'Extraction_type_group',
       'Extraction_type_class', 'Payment', 'Payment_type', 'Water_quality',
       'Quality_group', 'Quantity', 'Quantity_group', 'Source', 'Source_type',
       'Source_class', 'Waterpoint_type_group', 'Status'],
      dtype='object')

### Datatype Conversion

In [ ]:
train_data.dtypes

Amount_of_water          float64
Gps_height                 int64
Waterpoint_type           object
Basin_name                object
Regionname                object
District_code              int64
Population                 int64
Public_meeting            object
Organization_surveyed     object
Scheme_management         object
Permit                    object
Management                object
Management_group          object
Extraction_type           object
Extraction_type_group     object
Extraction_type_class     object
Payment                   object
Payment_type              object
Water_quality             object
Quality_group             object
Quantity                  object
Quantity_group            object
Source                    object
Source_type               object
Source_class              object
Waterpoint_type_group     object
Status                     int64
dtype: object

The Dataype Conversion is done with respect to the Attribute Description

In [ ]:
# Datatype Conversion
cat_cols= train_data.select_dtypes('object')
for i in cat_cols:
  train_data[i]=train_data[i].astype('category')
train_data['Status']=train_data['Status'].astype('category')
train_data.dtypes

Amount_of_water           float64
Gps_height                  int64
Waterpoint_type          category
Basin_name               category
Regionname               category
District_code               int64
Population                  int64
Public_meeting           category
Organization_surveyed    category
Scheme_management        category
Permit                   category
Management               category
Management_group         category
Extraction_type          category
Extraction_type_group    category
Extraction_type_class    category
Payment                  category
Payment_type             category
Water_quality            category
Quality_group            category
Quantity                 category
Quantity_group           category
Source                   category
Source_type              category
Source_class             category
Waterpoint_type_group    category
Status                   category
dtype: object

### Train Test Split

In [ ]:
X = train_data.drop('Status', axis=1)
y = train_data['Status']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.30, stratify=y, random_state=421)

In [ ]:
X_train[['Public_meeting','Scheme_management','Permit']]

      Public_meeting Scheme_management Permit
21016           True               VWC   True
41402           True               VWC  False
6854            True               VWC  False
43463           True               NaN  False
43697           True               VWC   True
...              ...               ...    ...
37662           True               VWC   True
19434           True               VWC   True
14083           True               VWC   True
10780           True               VWC   True
17234           True               NaN   True

[30847 rows x 3 columns]

### Data Preprocessing/ Data Normalization

Imputing Mussing Values

In [ ]:
null_cols=['Public_meeting','Scheme_management','Permit']

# Convert mixed types to strings (or other appropriate type)
X_train[null_cols] = X_train[null_cols].astype(str)
X_val[null_cols] = X_val[null_cols].astype(str)


imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan) # Since the columns in the null_cols are categorical, strategy='most_frequent' is used
imputer = imputer.fit(X_train[null_cols])
X_train[null_cols] = imputer.transform(X_train[null_cols])
X_val[null_cols] = imputer.transform(X_val[null_cols])

Scaling Numerical Variables

In [ ]:
num_attr = X_train.select_dtypes(include=['int64','float64']).columns
num_attr
scaler = StandardScaler()
scaler.fit(X_train[num_attr])
X_train_std = pd.DataFrame(scaler.transform(X_train[num_attr]),columns=X_train[num_attr].columns)
X_val_std = pd.DataFrame(scaler.transform(X_val[num_attr]),columns=X_train[num_attr].columns)

Encoding Categorical Variables

In [ ]:
cat_attr = X_train.select_dtypes(include=['category']).columns
cat_attr
enc = OneHotEncoder(drop = 'first',handle_unknown='ignore')
enc.fit(X_train[cat_attr])
X_train_ohe=pd.DataFrame(enc.transform(X_train[cat_attr]).toarray(),columns=enc.get_feature_names_out())
X_val_ohe=pd.DataFrame(enc.transform(X_val[cat_attr]).toarray(),columns=enc.get_feature_names_out())

Combining both Scaled and Encoded Data

In [ ]:
X_train_con = pd.concat([X_train_std, X_train_ohe], axis=1)
X_val_con = pd.concat([X_val_std, X_val_ohe], axis=1)

In [ ]:
X_train_con

,Amount_of_water,Gps_height,District_code,Population,Waterpoint_type_communal standpipe,Waterpoint_type_communal standpipe multiple,Waterpoint_type_dam,Waterpoint_type_hand pump,Waterpoint_type_improved spring,Waterpoint_type_other,...,Source_type_river/lake,Source_type_shallow well,Source_type_spring,Source_class_surface,Source_class_unknown,Waterpoint_type_group_communal standpipe,Waterpoint_type_group_dam,Waterpoint_type_group_hand pump,Waterpoint_type_group_improved spring,Waterpoint_type_group_other
0,-0.131697,0.817138,-0.172057,-0.249103,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.940348,-0.993068,5.605770,-0.332529,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.123409,-0.245748,2.820032,-0.372156,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,-0.123409,1.271841,-0.275233,0.251452,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.131697,0.124325,-0.068882,0.105456,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30842,-0.110977,-0.475251,-0.481584,0.147169,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
30843,-0.131697,-0.965814,-0.172057,-0.374242,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30844,-0.131697,-0.965814,-0.275233,-0.374242,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30845,-0.131697,-0.965814,-0.275233,-0.374242,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30846,-0.131697,0.276371,-0.172057,0.042887,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Evaluation Metrics

In [ ]:
# creating a function to check the accuracy scores
def evaluate_model(act, pred):
  print("Accurcay : ", accuracy_score(act, pred))

## Model Building

1. Logestic Regression

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train_con, y_train)
train_pred = logreg.predict(X_train_con)
val_pred = logreg.predict(X_val_con)
print("train accuracy")
evaluate_model(y_train,train_pred)
print("test accuracy")
evaluate_model(y_val,val_pred)

train accuracy
Accurcay :  0.788180374104451
test accuracy
Accurcay :  0.7888208153694879

2. Decision Tree

In [ ]:
dtclf3 = DecisionTreeClassifier()
dtclf3.fit(X_train_con, y_train)
train_pred = dtclf3.predict(X_train_con)
val_pred = dtclf3.predict(X_val_con)
print("train accuracy")
evaluate_model(y_train,train_pred)
print("test accuracy")
evaluate_model(y_val,val_pred)

train accuracy
Accurcay :  0.9599636917690537
test accuracy
Accurcay :  0.8019816957870055

3. SVM

In [ ]:
svc=SVC()
svc.fit(X_train_con, y_train)
train_pred = svc.predict(X_train_con)
val_pred = svc.predict(X_val_con)
print("train accuracy")
evaluate_model(y_train,train_pred)
print("test accuracy")
evaluate_model(y_val,val_pred)

train accuracy
Accurcay :  0.8305183648328849
test accuracy
Accurcay :  0.8171091445427728

4. KNN

In [ ]:
knn=KNeighborsClassifier()
knn.fit(X_train_con, y_train)
train_pred = knn.predict(X_train_con)
val_pred = knn.predict(X_val_con)
print("train accuracy")
evaluate_model(y_train,train_pred)
print("test accuracy")
evaluate_model(y_val,val_pred)

train accuracy
Accurcay :  0.8607968359970175
test accuracy
Accurcay :  0.8158989486423115

5. Random Forest

In [ ]:
clf2 = RandomForestClassifier()
clf2.fit(X_train_con, y_train)
train_pred = clf2.predict(X_train_con)
val_pred = clf2.predict(X_val_con)
print("train accuracy")
evaluate_model(y_train,train_pred)
print("test accuracy")
evaluate_model(y_val,val_pred)

train accuracy
Accurcay :  0.9599312737057089
test accuracy
Accurcay :  0.8277739959155889